<% #title "Mobile Apps" %>

<div class="well">
	<table class="table table-striped">
	  <thead>
  	  <tr>
  	    <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
  	  </tr>
  	</thead>
  	<tbody>
  	  <% @mobile_apps.each do |mobile_app| %>
  	    <tr>
  	      <td><%= mobile_app.name %></td>
  	      <td><%= link_to "Show", mobile_app, :class => 'btn btn-mini btn-primary' %></td>
  	      <td><%= link_to "Edit", edit_mobile_app_path(mobile_app), :class => 'btn btn-mini' %></td>
  	      <td><%= link_to "Destroy", mobile_app, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger' %></td>
  	    </tr>
  	  <% end %>
  	</tbody>
	</table>
</div>
<p><%= link_to "New Mobile App", new_mobile_app_path, :class => 'btn primary' %></p>
