<% #title "Mobile App Details" %>

<div class="well">
  <p>
    <strong>Name:</strong>
	  <%= @mobile_app.name %>
  </p>
  <p>
    <strong>Icon:</strong>
	  <% if @mobile_app.icon.url(:thumb).include?("/missing.png") %>
	    None
	  <% else %>
	    <%= image_tag @mobile_app.icon.url(:thumb) %>
	  <% end %>
  </p>
  <p>
    <strong>plist:</strong>
    <% if @mobile_app.plist.url.include?("/missing.png") %>
	    None
	  <% else %>
	    <%= link_to "View", @mobile_app.plist.url %>
	  <% end %>
  </p>
  <p>
    <strong>ipa:</strong>
    <% if @mobile_app.ipa.url.include?("/missing.png") %>
	    None
	  <% else %>
	    <%= link_to "Download", @mobile_app.ipa.url %>
    <% end %>
  </p>
  </div>
<p>
  <%= link_to "Edit", edit_mobile_app_path(@mobile_app), :class => 'btn' %> |
  <%= link_to "Destroy", @mobile_app, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %> |
  <%= link_to "View All", mobile_apps_path, :class => 'btn btn-danger' %>
</p>